@page "/checkout"
<div class="main">
<div class="checkout-cols">
<div class="checkout-order-details">
<h4>Review order</h4>
<div class="checkout-item">
<div>
<div>Margherita</div>
<div>Extra pepperoni, extra cheese</div>
</div>
<div class="checkout-item-cost">
¿10.99
</div>
</div>
</div>
</div>
<button class="checkout-button btn btn-warning">
Place order
</button>
</div>